target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.settings/
.project
.classpath
.factorypath
.swagger-codegen/

dist/

src/main/scripts/config/access_info
src/main/scripts/config/access_info.enc
src/main/scripts/log/
src/main/scripts/data/
src/test/scripts/log/
src/test/scripts/data/
src/test/scripts/**/output/
